:root {
    --black: #000;
    --blue: #093545;
    --blue_light: #07789f;
    --blue_dark: #04042b;
    --green: #027502;
    --white: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    height: 100%;
    line-height: 24px;
    overflow: scroll;
    position: relative;
}

img {
    height: 320px;
    width: 320px;
}

button,
.button {
    background-color: var(--blue);
    border: none;
    border-radius: 4px;
    color: var(--white);
    cursor: pointer;
    font-size: 16px;
    margin: 20px auto;
    padding: 15px 70px;
}

hr {
    width: 40%;
    margin: 0 auto;
}

/*
Header
*/

.Header {
    align-items: center;
    background-color: var(--blue_dark);
    color: var(--white);
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.Header h1 {
    font-size: 36px;
    margin: 20px;
}

.Header .arrow {
    height: 24px;
    left: 55px;
    position: absolute;
    top: 56px;
    transform: rotate(345deg);
    width: 70px;
}

.BasketNav {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
    width: 100px;
}

.BasketNav img {
    height: 44px;
    width: 44px;
}

.Link {
    color: var(--white);
    text-decoration: none;
}

/*
Basket Header
*/

.Basket {
    font-family: 'PT Sans', sans-serif;
}

.BasketHeader,
.BasketHeader_empty {
    margin: 30px;
}

.BasketHeader,
.BasketHeader_empty {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.BasketHeader.full {
    padding: 10px;
    justify-content: center;
}

.BasketHeader.empty {
    height: 500px;
    justify-content: space-evenly;
}

.BasketHeader h1 {
    font-size: 28px;
    font-weight: 600;
    margin: 20px;
}

/*
Basket Main
*/

.BasketMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px 80px;
    text-align: center;
}

.BasketItem {
    align-items: center;
    border-bottom: 1px solid var(--black);
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}

.BasketItem:first-child {
    border-top: 1px solid var(--black);
}

.BasketItem img {
    height: 120px;
    width: 120px;
}

.BasketItem .details {
    width: 200px;
}

.BasketItem .quantity-buttons {
    position: relative;
    top: 5px;
}

.BasketItem button {
    margin: 0 4px;
    padding: 0;
    height: 24px;
    width: 36px;
}

.BasketItem .remove-item-button:hover {
    cursor: pointer;
    text-decoration: underline;
}

.BasketSummary {
    display: flex;
    flex-direction: column;
    height: 80px;
    justify-content: space-around;
    margin: 30px;
}

/*
Checkout Main
*/

.CheckoutMain {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-basis: 40%;
}

.CheckoutMain input {
    background-clip: padding-box;
    /*background-color: var(--cream);*/
    border: 1px transparent solid;
    border-radius: 5px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    line-height: inherit;
    margin: 0 30px;
    padding: 0.9285714286em 0.7857142857em;
    width: 200px;
    word-break: normal;
}


.CheckoutMain button {
    background-color: var(--blue_light);
}

/*
Checkout Summary
*/

.CheckoutSummary {
    background-color: lightpink;
    display: flex;
    flex-direction: column;
    margin: 30px;
}


/*
Item
*/

.Items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.Item {
    margin: 20px;
    padding: 50px;
    text-align: center;
    width: 400px;
}

.Item img {
    border: 1px solid var(--black);
}


/*
Mobile
*/

@media (max-width: 768px) {
    .BasketMain {
        margin: 20px 0;
    }
}