:root {
    --black: #000;
    --blue: #093545;
    --blue_light: #07789f;
    --blue_dark: #04042b;
    --cream: #eee8e6;
    --green: #027502;
    --yellow: #f0c14b;
    --white: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    height: 100%;
    line-height: 24px;
    overflow: scroll;
    position: relative;
}

img {
    height: 320px;
    width: 320px;
}

button,
.button {
    background-color: var(--blue);
    border: none;
    border-radius: 4px;
    color: var(--white);
    cursor: pointer;
    font-size: 16px;
    margin: 20px auto;
    padding: 15px 70px;
}

hr {
    width: 40%;
    margin: 0 auto;
}

/*
Header
*/

.Header {
    align-items: center;
    background-color: var(--blue_dark);
    color: var(--white);
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.Header h1 {
    font-size: 36px;
    margin: 20px;
}

.Header .arrow {
    height: 24px;
    left: 55px;
    position: absolute;
    top: 56px;
    transform: rotate(345deg);
    width: 70px;
}

.BasketNav {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
    width: 100px;
}

.BasketNav img {
    height: 44px;
    width: 44px;
}

.Link {
    color: var(--white);
    text-decoration: none;
}

/*
Basket Header
*/

.Basket {
    font-family: 'PT Sans', sans-serif;
}

.BasketHeader,
.BasketHeader_empty {
    margin: 30px;
}

.BasketHeader,
.BasketHeader_empty {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.BasketHeader.full {
    padding: 10px;
    justify-content: center;
}

.BasketHeader.empty {
    height: 500px;
    justify-content: space-evenly;
}

.BasketHeader h1 {
    font-size: 28px;
    font-weight: 600;
    margin: 20px;
}

/*
Basket Main
*/

.BasketMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px 80px;
    text-align: center;
}

.BasketItem {
    align-items: center;
    border-bottom: 1px solid var(--black);
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}

.BasketItem:first-child {
    border-top: 1px solid var(--black);
}

.BasketItem img {
    height: 120px;
    width: 120px;
}

.BasketItem .details {
    width: 200px;
}

.BasketItem .quantity-buttons {
    position: relative;
    top: 5px;
}

.BasketItem button {
    margin: 0 4px;
    padding: 0;
    height: 24px;
    width: 36px;
}

.BasketItem .remove-item-button:hover {
    cursor: pointer;
    text-decoration: underline;
}

.BasketSummary {
    display: flex;
    flex-direction: column;
    height: 80px;
    justify-content: space-around;
    margin: 30px;
}

/*
Checkout
*/

.Checkout {
    margin: 30px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.Checkout .discount-summary-wrapper {
    display: flex;
    flex-direction: column;
    height: 350px;
    justify-content: space-between;
}

/*
Checkout Summary
*/

.CheckoutSummary {
    /*margin-bottom: 50px;*/
}

.CheckoutSummary * {
    margin: 5px 0;
    padding: 5px 0;
}

.CheckoutSummary h1 {
    text-decoration: underline;
}

.CheckoutSummary h2 {
    border-top: 1px solid;
    border-bottom: 1px solid;
    margin: 20px 0;
    padding: 20px 0;
}

.CheckoutSummary button {
    background-color: var(--blue_light);
    margin: 20px auto;
    padding: 10px 40px;
}

.CheckoutSummary .remove-discount:hover {
    cursor: pointer;
    text-decoration: underline;
}

/*
Discount
*/

.Discount {
    /*margin-top: 40px;*/
}

.Discount h3 {
    margin: 10px 0;
}

.Discount input {
    background-clip: padding-box;
    border: 1px solid var(--blue_dark);
    border-radius: 5px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    line-height: inherit;
    margin: 0 30px;
    outline: none;
    padding: 7px;
    width: 150px;
    word-break: normal;
}

.Discount input:focus {
    background-color: var(--cream);
    border: 1px solid var(--green);
}


.Discount button {
    background-color: var(--blue);
    margin: 20px auto;
    padding: 10px 40px;
}

/*
CheckoutForm
*/

.CheckoutForm {
}

.CheckoutForm h2 {
    margin: 10px 10px 20px;
}

.CheckoutForm input {
    background-clip: padding-box;
    border: 1px solid var(--blue_dark);
    border-radius: 5px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    line-height: inherit;
    margin: 5px 10px;
    outline: none;
    padding: 7px;
    width: 200px;
    word-break: normal;
}

.CheckoutForm input:focus {
    background-color: var(--cream);
}

.CheckoutForm input.email,
.CheckoutForm input.creditCard {
    width: 420px;
}

.CheckoutForm .buy-wrapper {
    margin: 20px auto;
    text-align: center;
}

.CheckoutForm input.buy {
    background-color: var(--yellow);
    border: 1px solid;
    color: var(--black);
}


/*
Order Completed
*/

.OrderCompleted {
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 500px;
    justify-content: center;
    text-align: center;
}

.OrderCompleted * {
    margin: 10px;
    padding: 10px;
}

/*
Item
*/

.Items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.Item {
    margin: 20px;
    padding: 50px;
    text-align: center;
    width: 400px;
}

.Item img {
    border: 1px solid var(--black);
}


/*
Mobile
*/

@media (max-width: 1100px) {
    .Checkout {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 30px;
    }
    .Checkout .discount-summary-wrapper {
        display: flex;
        min-height: 300px;
        margin: 30px;
        justify-content: space-evenly;
        padding: 30px;
        width: auto;
    }
    .CheckoutSummary {
        flex-basis: 30%;
    }
    .CheckoutSummary * {
        margin: 10px 0;
    }
    .CheckoutForm {
        margin: 30px;
    }
    .CheckoutForm .buy-wrapper {
        margin: 20px auto;
        text-align: center;
        width: 100%;
    }

}

@media (max-width: 768px) {
    .BasketMain {
        margin: 20px 0;
    }
    .Checkout .discount-summary-wrapper {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        width: auto;
    }
}